@model List<NewMovie>
 <table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <td>CategoryId</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Copied To Plex</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@m.CategoryId</td>
                <td>@m.Title</td>
                <td>@m.Year</td>
                <td>@m.Director</td>
                <td>@m.Rating</td>
                <td>@m.Edited</td>
                <td>@m.LentTo</td>
                <td>@m.CopiedToPlex</td>
                <td>@m.Notes</td>
            </tr>
        }
        
    </tbody>    
</table>